@import '/public/css/colors.scss';

.shipping-address-row {
    display: flex;
    justify-content: space-between;
}
.shipping-address-input{ 
    display: flex;
    flex-direction: column;
    width: 45%;
  
   
}