@import "/public/css/colors";
@import "/public/css/variables";

.tasks-header-num {
    font-weight: 600;
    font-size: 0.9rem;
  }

  .filter-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }