@import '/public/css/colors.scss';
@import '/public/css/mixins';


.payment-options-list { 
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid color(light-grey);
    border-radius: 4px;
    width: fit-content;
}
.payment-option-header { 
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2.2;
    padding:.6rem;
    display: flex;
    .payment-radio-button  {
        flex-grow: 1;
        input[type="radio"] {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
        border-radius: 50%;
        border: 0.1rem solid color(light-grey);
        
        }
        :checked { 
            background: red;

        }
    }
    .payment-icons { 
        display: flex;
        align-self: center;
        //width: 30%;
        grid-gap: .3rem;
    }
}

.payment-option-card { 
    border-bottom: 0.1rem solid color(light-grey);
    display: flex;
    flex-direction: column;
     &:nth-child(3) { 
        border-bottom: none;
    }
    .payment-option-form { 
        margin: 1rem;
        box-sizing:border-box;
        .payment-form-input { 
            display: flex;
            input { 
                border: none;
                flex-grow: 1;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}


