@import '/public/css/colors.scss';
@import '/public/css/mixins';


.payment-icons { 
    display: flex;
    align-self: center;
    grid-gap: .3rem;
}
.payment-form-input { 
    display: flex;
    input { 
        border: none;
        flex-grow: 1;
        &:focus {
            outline: none;
        }
    }
}


