$colors: (primary: #340ec1,
    accent: #fff6bb,
    primary-light: #4d25e0,
    light-blue:#528ff5 ,
    primary-dark: #0d0724,
    grey: rgba(0, 0, 0, 0.2),
    light-grey: rgba(204, 204, 204, 1),
    dark-grey: #89898c,
    grey-lighter: hsl(250deg 38% 97%),
    primary-darker: rgb(47 28 143),
    title-color: hsl(252deg 76% 23%),
    green-light: hsl(154deg 48% 45%),
    green-lighter:hsl(135deg 81% 58%),
    transparent-grey: rgb(157 143 143 / 43%)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}