@import '/public/css/colors';
@import '/public/css/variables';

.sub-menu{
       width: 100%;
       margin: auto;
}
.nav-list a{
    display: block;
    color: color(dark-grey);
    padding: 0 1.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    transition: color 30ms;
}
.nav-list a:hover{
    color: black;
}
.sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.nav-list li:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
    height: auto;
}


.sub-menu li {
    line-height: 3rem;
}

.num{ 
    background: white;
    color: black;
    margin-left: 0.5em;
    text-align: center;
    width: 21px;
    height: 22px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}