@import "/public/css/colors";

.discounts-list {
  position: relative;
}

.discounts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .discounts-title {
    color: color(title-color);
  }
  flex: 1;
  .all-products-link {
    font-size: 0.7rem;
    font-weight: bold;
    color: color(title-color);
  }
}

