@import "/public/css/colors";

.discounts-list {
  position: relative;
}

.discounts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .discounts-title {
    color: color(title-color);
  }
  width: 100%;
  .all-products-link {
    font-size: 0.7rem;
    font-weight: bold;
    color: color(title-color);
  }
}
.discount-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.6rem;
  position: relative;
  height: 377px;
  width: 90%;
  margin: 1rem 0;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(143deg 65% 55%);
  color: white;
  text-transform: uppercase;
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.2em;
  .percent-badge-icon {
    width: 1rem;
    height: 1rem;
  }
}

.flash-deal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(331deg 79% 66%);
  color: white;
  text-transform: uppercase;
  border-radius: 0.4rem;
  width: 5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.2em;
  .deal-icon {
    color: white;
  }
}

.buttons {
  margin-left: 0.5rem;
  position: absolute;
  top: 2%;
  left: 1%;
}

.discount-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
  img {
    height: 100%;
  }
}
.product-header {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-top: 2em;
  margin-left: 1em;
}
.brand-name {
  text-transform: uppercase;
  color: color(dark-grey);
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 0.4em;
}
.product-title {
  color: color(title-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
.product-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  .new-price {
    color: color(title-color);
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 0.5em;
  }
  .old-price {
    color: color(dark-grey);
    font-size: 1rem;
    text-decoration-line: line-through;
  }
}
.stock {
  display: flex;
  align-items: center;
  .stock-progress {
    flex: 0.6;
    margin-right: 0.3em;
  }
  .stock-count {
    flex: 3;
    font-size: 0.75rem;
    font-weight: 900;
    display: flex;
    flex-wrap: nowrap;
    span {
      font-weight: 600;
      margin-left: 0.2em;
    }
  }
}
.rate {
  display: flex;
  font-size: 1.4rem;
  .rate-stars {
    display: flex;
    flex-wrap: nowrap;
  }
  .rate-values {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    .rate-stars-value {
      font-weight: 900;
      color: color(title-color);
      margin-right: 0.2em;
    }
    .rate-count {
      font-weight: 500;
    }
  }
}
