.top{
    .promotion-top {
        padding: 1.5rem 0 0 0;
    
      }
      .promotion-bottom {
        flex: 1.5;
        img {
          height: 100%;
          align-self: stretch;  
        }
      }
}