@import '/public/css/colors';
@import "/public/css/variables";
@import "/public/css/mixins";
.content {
  flex-basis: 40vmax;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
.promotional-text {
  margin-top: 4rem;
  margin-bottom: 0;
  color: color(green-light);
  font-size: smaller;
  text-transform: uppercase;
  @include mobile { 
    font-size : 0.65rem;
    font-weight: 700;
  }
}
.kitchen-text {
  color: white;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  font-family: sans-serif;
  margin: 0;
  margin-bottom: 1.3rem;
  @include mobile { 
    font-size: 1.5rem;
  }
}
.commodo-text {
  color: white;
  max-width: 53%;
  @include mobile { 
    max-width: 100%;
    font-size: 0.7rem;
  }
}

.browse-btn {
  border-radius: 10px;
  padding: 13px 30px;
  background: linear-gradient(301deg, color(green-lighter) 39%, rgba(0,212,255,1) 100%);
  color: color(primary-darker);
  display: inline-block;
  margin-bottom: 20%;
  margin-top: 40px;
  @include mobile{ 
    padding: 0.7rem;
  }
}
.bg-img img {
  max-width: 50vmax;
  max-height: 30vmax;
  @include mobile { 
    width: 100%;
    margin-top: 0;
  }
  margin-top: 20px;
}
.border-text {
  border-right: 1px solid color(transparent-grey);
  height: 4.5rem;
  width: 2px;
}
.assistant-img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  margin-left: 20px;
}
.assistant-text {
  color: white;
  margin-left: 10px;
  font-family: sans-serif;
  @include mobile { 
    font-size: 0.7rem;
    font-weight: 400;
  }
}
.right-icon {
  margin-left: 15px;
  color: white;
}
