@import '/public/css/colors';

.filter-header { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks-header-num { 
    font-weight: 600;
    font-size: .9rem;
}
.most-popular { 
    color: color(light-blue);
    text-decoration: underline;

}
.products-by-category { 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-cat-list-item{ 
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 6px 4px 11px 0px #d2c9c975;
    width: calc(100% / 3 - 2rem) ;
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product-cat-list-item:last-child { 
    margin-right: 0;
}
