@import "/public/css/colors";
@import "/public/css/variables";
@import "/public/css/mixins";

.second-header {
  background: color(primary-light);
  color: white;
  padding: 14px 0;
  .container {
    @include mobile {
      flex-direction: column;
    }
    @include iPads {
      flex-direction: column;
    }
  }
  .menus {
    display: flex;
  }
}
