@import '/public/css/colors';
@import '/public/css/variables';
@import '/public/css/mixins';


.free-shipping-text{
    font-size: 0.7rem;
}

.first-header { 
    background: color(primary);
    color: white;
    padding: 8px 0;
    .container { 
        @include mobile { 
            flex-direction: column;
            margin-top: .5rem;
        }
        @include iPads { 
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}

.second-header {
    background: color(primary-light);
    color: white;
    padding: 14px 0;
    .container { 
        @include mobile { 
            flex-direction: column;
        }
        @include iPads { 
            flex-direction: column;
        }
    }
    .menus { 
        display: flex;
    }
}

.subscribe-btn{
    padding: 10px 10px;
    border-radius: 10px;
    background: color(primary-dark);
    color: color(light-grey);
    padding: 0.7rem 0.7rem;
    border-radius: 10px;
    font-size: 0.7em;
    @include mobile { 
        padding : 5px 24px;
        margin-top: .5em;
    }
}
.subscribe-text{
    font-weight: 900;
    color: white;
}

  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: .5em;
    @include iPads { 
        margin: 1em;
    }
  }
  
  .dropdown-content {
    position: absolute;
    padding: 0.1rem;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 41px;
    font-size: 0.8rem;

    @include mobile {
      top: 25px;
      left: -10px;
    }
    .cat-item { 
      width: calc(100% / 4);
      display: block !important;
      a{
        text-decoration: color(light-grey) solid underline;
        text-underline-offset: 0.4rem;
      }
      .subcat-items{
        display: flex;
        flex-direction: column;
        a{
          text-decoration: none !important;
          width: 100%;
        }
      }
    }
  }
  .products-submenu { 
    display: flex;
    width: 50vw !important;
    justify-content:flex-start !important;
  }
  
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
  }
.flags-dropdown-content { 
    min-width: 59px !important;
}
.search {
    margin-top: 0.3em;
    position: relative;
    @include mobile {
      flex-basis: 10vmax !important;
      margin-top: 2em;
    }
    @include iPads {
      margin-top: 2em;
      width: 73vw;
    }
    .search-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 2.5rem;
      flex: 1;
      @include mobile {
        flex-direction: column;
      }
    }
  }
.search-input{
    height: 100%;
    width: inherit;
    outline-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    flex: 3;
    padding: 0 0.8rem;
    color: rgba(0, 0, 0, 0.2);
    border-color: transparent;

    @include mobile { 
        border-radius: 0.5rem;
        padding: 0.8rem;
    }
}
.drop-btn {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-style: none;
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    padding: 0 0.8rem;
    background: #0d0724;
    color: white;
    @include mobile {
      place-items: flex-end;
      order: 2;
      border-radius: 0;
      padding: 0.5rem 1.4rem;
      width: 100%;
    }
  }
.search-icon {
    position: absolute;
    right: 3%;
    top: 26%;
    color: rgba(0, 0, 0, 0.2);
    @include mobile { 
        right: 5%;
        top: -11%;
    }
}

.logo-word {
    font-family: system-ui;
    font-size: x-large;
    letter-spacing: 2px;
    @include iPads{
        font-size: 2rem;
        box-sizing: content-box;
        margin: 1rem;
        margin-top: 2rem;

    }
}

.logo-word span {
    font-weight: 500;
    font-family: sans-serif;
    font-size: larger;
}

.country-img {
    width: 25px;
    height: 20px;
}

.cart-num {
    background: color(primary-dark);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-text-style{
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}
