$colors: (primary: #340ec1,
    accent: #fff6bb,
    primary-light: #4d25e0,
    primary-dark: #0d0724,
    grey: rgba(0, 0, 0, 0.2),
    light-grey: rgba(204, 204, 204, 1)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}
ul{
    list-style: none;

}

.first-header { 
    background: color(primary);
    color: white;
    padding: 8px 0;

}

.second-header {
    background: color(primary-light);
    color: white;
    padding: 14px 0;

}

.subscribe-btn{
    background: color(primary-dark);
    color: color(light-grey);
    padding: 10px 10px;
    border-radius: 10px;
}
.subscribe-text{
    font-weight: 900;
    color: white;
}
.drop-btn {
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    padding: 8px 10px;
    width: 30%;
    background: color(primary-dark);
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;

  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:45px;
  }
  
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.flags-dropdown-content { 
    min-width: 59px !important;
}
.search {
    width: 40%;
    position: relative;

}
.search-input{
    padding: 8px 10px;
    width: 70%;
    border-radius: 0 10px 10px 0;
    color: color(grey);
}


.search-icon {
    position: absolute;
    right: 9px;
    bottom: 10px;
    color: color(grey);
}

.logo-word {
    font-family: system-ui;
    font-size: x-large;
    letter-spacing: 2px;
}

.logo-word span {
    font-weight: 500;
    font-family: sans-serif;
    font-size: larger;
}

.country-img {
    width: 25px;
    height: 20px;
}

.cart-num {
    background: color(primary-dark);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
.cart-text-style{
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}
.cursor { 
    cursor: pointer;

}